%h1.text-center
  Candidate Match Questionaire
%hr
%h2
  Immigration

%ul
  %li
    = link_to 'Build a wall', survey_2_path(one: 'less')
  %li
    = link_to 'Everyone is welcome', survey_2_path(one: 'more')
