%h1.text-center
  Candidate Match Questionaire
%hr
%h2
  Taxes

%ul
  %li
    = link_to 'More Taxes', survey_3_path(one: params[:one], two: 'more')
  %li
    = link_to 'Less Taxes', survey_3_path(one: params[:one], two: 'less')
