%h2
  Carmen Liu(3rd Party)

.candidate-img
  = image_tag('carmen.jpg', class:'img-responsive', size:'200x120')

  %ul
    %li
      MIT Grad
    %li
      Software Developer
    %li
      Hates Hotdogs
    %li
      Meh on Chocolate
    %li
      Hates Dogs
