%h2.text-center
  Carmen Liu(3rd Party)

.candidate-img
  = image_tag('carmen.jpg', class:'img-responsive center-block', size:'200x120')

.col-md-5
.col-md-6
  %ul
    %li
      MIT Grad
    %li
      Software Developer
    %li
      Hates Hotdogs
    %li
      Meh on Chocolate
    %li
      Hates Dogs

.col-md-1
