%h1
  Your
  %br
  Voice
  %br
  Is
  %br
  Your
  %br
  Vote
%hr
= link_to 'Candidate Match <i class="glyphicon glyphicon-arrow-right"></i>'.html_safe, '/survey'
%br
= link_to 'Candidate Information <i class="glyphicon glyphicon-arrow-right"></i>'.html_safe, '/candidates'
%br
= link_to 'Ballot Info <i class="glyphicon glyphicon-arrow-right"></i>'.html_safe, '/ballot'
