%h2.text-center
  Muffy Weiler(D)

.candidate-img
  = image_tag('muffy.jpg', class:'img-responsive center-block', size:'200x120')

.col-md-5
.col-md-6
  %ul
    %li
      Harvard Lawyer
    %li
      Governor of MN
    %li
      Pro Hotdogs
    %li
      Against Chocolate
    %li
      Loves Dogs

.col-md-1
