%h2
  Muffy Weiler(D)

.candidate-img
  = image_tag('muffy.jpg', class:'img-responsive', size:'200x120')

%ul
  %li
    Harvard Lawyer
  %li
    Governor of MN
  %li
    Pro Hotdogs
  %li
    Against Chocolate
  %li
    Loves Dogs
