%h2
  Steven Mark(D)

.candidate-img
  = image_tag('stevenmark.jpg', class:'img-responsive', size:'200x120')

  %ul
    %li
      GED
    %li
      Inside Sales
    %li
      Chicago Dogs or BUST
    %li
      Loves Chocolate
    %li
      Has a Dog
