%h2.text-center
  Steven Mark(D)

.candidate-img
  = image_tag('stevenmark.jpg', class:'img-responsive center-block', size:'200x120')

.col-md-5
.col-md-6
  %ul
    %li
      GED
    %li
      Inside Sales
    %li
      Chicago Dogs or BUST
    %li
      Loves Chocolate
    %li
      Has a Dog
.col-md-1
