/*
* This is a manifest file that'll be compiled into application.css, which will include all the files
* listed below.
*
* Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
* or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
*
* You're free to add application-wide styles to this file and they'll appear at the bottom of the
* compiled file so the styles you add here take precedence over styles defined in any styles
* defined in the other CSS/SCSS files in this directory. It is generally better to create a new
* file per style scope.                                                       
*
*/ 
// "bootstrap-sprockets" must be imported before "bootstrap" and "bootstrap/variables"
@import "bootstrap-sprockets";                                                 
@import "bootstrap";

html {
  background-color: #F1F1F1;
  //background:rgba(0,0,0,0.4);
  //background-image: image-url('usaflag.png');
  padding: 20px 20px 20px 20px;
  //background-attachment: fixed;
  //background-position: 100% 100%;
  //background-repeat: no-repeat;
}

body {
  background-color: #F1F1F1;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  color: #7995A1;
  font-size: 200%;
}

h1 {
  color: #CB3C27;
}

a {
  color: #7995A1;

}

.banner {
  padding: 20px 20px 20px 20px;
  background-color: #FAE4AB;
}
